<nav class="navmenu">
  <ul>
    <li><a href="/">Pesquisa</a></li>
    <li><a href="/cadastro">Cadastro</a></li>
    <li><a href="/agendamentos">Agendamentos</a></li>
    <li><a href="/estoque">Estoque</a></li>
    <li><a href="/dashboard">Dashboard</a></li>
  </ul>
</nav>
