<nav class="navmenu">
  <div class="brand">VetSysCli</div>
  <NavLink class="nav-button" href="/dashboard" Match="NavLinkMatch.All">Dashboard</NavLink>
  <NavLink class="nav-button" href="/consulta">Consulta</NavLink>
  <NavLink class="nav-button" href="/cadastro">Cadastro</NavLink>
  <NavLink class="nav-button" href="/agendamentos">Agendamentos</NavLink>
  <NavLink class="nav-button secondary" href="/login">Sair</NavLink>
</nav>
